# Copy to .env at project root and adjust values

### Database
# PYLOVO Database @ infdb (separted as pylovo db can also be separated to its own DB)
DBNAME = "infdb"
DBUSER = "infdb_user"
HOST = "localhost"
PORT = "54321"
PASSWORD = "yourpainfdb_password"
TARGET_SCHEMA = "pylovo" # optional, default is "public"
INFDB_SOURCE_SCHEMA="basedata"

### Validation (for developers)
# Path to the grid dataset (directory containing <NET_NAME>.json, subgrids/, and metrics CSV)
# You can use a repo-relative path starting with /src/ which will be resolved relative to the project root.
GRID_DATA_PATH="/path/to/your/validation/grid_data/"
# Base name of the network JSON inside GRID_DATA_PATH (without extension)
NET_NAME="name_of_your_network"

